@import "tailwindcss";

body {
  background-color: #B9C6CA;
  margin: 0;
}

:root {
  --color-brand: #0575B7;
}

.bg-brand {
  background-color: var(--color-brand);
}

.font-calibri {
  font-family: Calibri, sans-serif;
}

.font-times {
  font-family: "Times New Roman", serif;
}

.section {
  padding: 60px 16px;
}

.section-title {
  font-size: 26px;
  text-align: center;
  font-weight: 600;
}

.section-text {
  font-size: 25px;
  text-align: center;
  max-width: 900px;
  margin: 11px auto;
  font-family: Calibri, sans-serif;
  font-style: italic;
  line-height: 1.6;
  color: #2c2c2c;
}